{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    
    <div class="content">
        <h2>User Login</h2>
    </div>
    
    <div class="userInput">

        <form id="registerForm" action="/login" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            
            <div class="password-container">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <span class="password-toggle" onclick="togglePassword('password')">Show</span>
            </div>
        
            <div class="content">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock %}
